.block_mycourses h3 {padding-top: 1em; margin-top: 0;}
.block_mycourses .footer {padding-top: 1em; width: 100%;}
.block_mycourses .content .role {float: left; min-width: 47%; margin: 0 1%;}
.block_mycourses .content .recommended {clear: both; width: auto; margin: 0 1%;}
.block_mycourses .tiny {margin-top: 0; margin-left: 3em;font-size: 70%;}
